<%= form_with(model: service_provider) do |form| %>
  <% if service_provider.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(service_provider.errors.count, "error") %> prohibited this service_provider from being saved:</h2>

      <ul>
        <% service_provider.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :person, style: "display: block" %>
    <%= form.text_field :person %>
  </div>

  <div>
    <%= form.label :activity, style: "display: block" %>
    <%= form.text_field :activity %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.select("city_id", City.all.collect { |c| [ c.city_name, c.id ] }, { include_blank: true })%>
  </div>

  <div>
    <%= form.label :phone_number_1, style: "display: block" %>
    <%= form.number_field :phone_number_1 %>
  </div>

  <div>
    <%= form.label :phone_number_2, style: "display: block" %>
    <%= form.text_field :phone_number_2 %>
  </div>

  <div>
    <%= form.label :obs, style: "display: block" %>
    <%= form.text_area :obs %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
