<div id="<%= dom_id service_provider %>">
  <p>
    <strong>Person:</strong>
    <%= service_provider.person %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= service_provider.activity %>
  </p>

  <p>
    <strong>Phone number 1:</strong>
    <%= service_provider.phone_number_1 %>
  </p>

  <p>
    <strong>Phone number 2:</strong>
    <%= service_provider.phone_number_2 %>
  </p>

  <p>
    <strong>Obs:</strong>
    <%= service_provider.obs %>
  </p>

</div>
