<div id="<%= dom_id supplier %>">
  <p>
    <strong>Company:</strong>
    <%= supplier.company %>
  </p>

  <p>
    <strong>Responsible:</strong>
    <%= supplier.responsible %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= supplier.activity %>
  </p>

  <p>
    <strong>Commission:</strong>
    <%= supplier.commission %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= supplier.email %>
  </p>

  <p>
    <strong>Phone number 1:</strong>
    <%= supplier.phone_number_1 %>
  </p>

  <p>
    <strong>Phone number 2:</strong>
    <%= supplier.phone_number_2 %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= supplier.address %>
  </p>

  <p>
    <strong>Obs:</strong>
    <%= supplier.obs %>
  </p>

</div>
